services:
  web:
    build: .
    container_name: bibliotech-web
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
    depends_on:
      - db
    networks:
      - app-network

  db:
    image: mysql:8.0
    container_name: bibliotech-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: bibliotech_db
      MYSQL_USER: bibliotech_user
      MYSQL_PASSWORD: BilioT3ch
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app-network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: bibliotech-phpmyadmin
    restart: always
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      PMA_USER: bibliotech_user
      PMA_PASSWORD: BilioT3ch
      UPLOAD_LIMIT: 300M
    depends_on:
      - db
    networks:
      - app-network
      
volumes:
  db_data:

networks:
  app-network:
    driver: bridge